<div class="listing-form">
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center w-50">
      <div class="container p-4 rounded shadow">
        <h1>Create a New Listing</h1>
        <%= simple_form_for [@listing] do |f| %>
        <div class="form-group">
            <%= f.input :category,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "category" },
                        wrapper_html: { class: 'col-sm-12' },
                        label_html: { class: 'col-sm-2 control-label' } %>
          </div>
          <div class="form-group">
            <%= f.input :location,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "location" },
                        wrapper_html: { class: 'col-sm-12' },
                        label_html: { class: 'col-sm-2 control-label' } %>
          </div>
          <div class="form-group">
            <%= f.input :details,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "details" },
                        wrapper_html: { class: 'col-sm-12' },
                        label_html: { class: 'col-sm-2 control-label' } %>
          </div>
          </div>
          <%= f.submit "Create Listing", class: "btn btn-primary shadow-sm mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
