<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dcy2dfahw/image/upload/v1695299259/victor-freitas-WvDYdXDzkhs-unsplash_mqvxo5.jpg);">
</div>

<div class="listing-show-container">
  <% if user_signed_in? %>
    <div class="listing-container">
          <% user = User.find(@listing.user_id) %>
          <h1><%= @fullname = user.fullname.titleize %></h1>
      <h3 class="sub-heading"><%= @listing.category %></h3>
        <h4><%= @listing.location %></h4>
        <p><%= @listing.details %></p>
    </div>
  </div>
</div>

    <div class="fixed-element" style="width: 100%; height: 600px;"
      data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <div class="listing-show-links">


<h4 class="m-4">Reviews</h4>
<ul class="list-group m-4">
  <% @reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p>Rating:</p>
        <div class="star <%= 'filled' if review.rating >= 1 %>"></div>
        <div class="star <%= 'filled' if review.rating >= 2 %>"></div>
        <div class="star <%= 'filled' if review.rating >= 3 %>"></div>
        <div class="star <%= 'filled' if review.rating >= 4 %>"></div>
        <div class="star <%= 'filled' if review.rating >= 5 %>"></div>
      </div>
    </div>
  <% end %>
</ul>

      <%= link_to "Make a Booking", new_listing_booking_path(@listing, @booking), class:"sub-heading" %>
    </div>
    <div class="listing-show-links">
      <br>
      <%= link_to "Back to Home", root_path, class:"sub-heading" %>
  </div>
  <% else %>
  <%= render 'shared/log_in_prompt' %>
  <% end %>
