<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dcy2dfahw/image/upload/v1695305448/josh-nuttall-uNQ-TTg_qNY-unsplash_twes8f.jpg);">
</div>
<% if user_signed_in? %>

  <div class="homepage-container">
    <h1 class="homepage-heading">Bookings</h1>
    <h2 class="homepage-heading">Manage you commitments</h2>
    <br>
    <div data-controller="toggle">
      <button data-action="click->toggle#fire" class="btn btn-outline-light" data-toggle-target="togglableElement">Upcoming sessions booked by me.</button>
      <br>
      <div data-toggle-target="togglableClientView">
        <div class="listings-row">
          <% @bookings.each do |booking| %>
            <% user = User.find(booking.user_id) %>
            <% trainer = User.find(booking.listing.user_id) %>
            <% if user.id == current_user.id %>
              <div class="listing">
                <p>Booking Date: <%= booking.date %></p>
                <p>Trainer: <%= trainer.fullname.titleize %></p>
                <p><%= booking.listing.category %></p>
                <p><%= booking.listing.details %></p>
                <%= link_to 'Cancel', booking_path(booking),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: 'btn btn-secondary' %>
                <%= link_to 'View', listing_booking_path(booking.listing, booking),
                  class: 'btn btn-secondary' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div data-toggle-target="togglableTrainerView" class="d-none">
        <div class="listings-row">
          <% @bookings.each do |booking| %>
            <% trainer = User.find(booking.listing.user_id) %>
            <% user = User.find(booking.user_id) %>
            <% if trainer.id == current_user.id %>
              <div class="listing">
                <p>Booking Date: <%= booking.date %></p>
                <p>Client: <%= user.fullname.titleize %></p>
                <p><%= booking.listing.category %></p>
                <p><%= booking.listing.details %></p>
                <%= link_to 'Cancel', booking_path(booking),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: 'btn btn-secondary' %>
                <%= link_to 'View', listing_booking_path(booking.listing, booking),
                  class: 'btn btn-secondary' %>
              </div>
              <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% else %>

  <%= render 'shared/log_in_prompt' %>

<% end %>
