<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dcy2dfahw/image/upload/v1695299257/jonathan-borba-lrQPTQs7nQQ-unsplash_uj6nt9.jpg);">
</div>
<% if user_signed_in? %>

  <div class="listing-show-container">
    <% @user = User.find(@booking.user_id) %>
      <h1 class="homepage-heading"><%= @user.fullname %></h1>

      <h2 class="listing-sub-heading"><%= @booking.date %></h2>

      <h3><%= @listing.category %></h3>


      <h3><%= @booking.comment %></h3>
<h4 class="m-4">Your Reviews</h4>
<ul class="list-group m-4">
  <% @listing.reviews.each do |review| %>
  <% if review.listing.user_id == current_user.id? %>
    <li class="list-group-item"><%= review.content %></li>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p>Rating:</p>
        <div class="star <%= 'filled' if review.rating >= 1 %>"></div>
        <div class="star <%= 'filled' if review.rating >= 2 %>"></div>
        <div class="star <%= 'filled' if review.rating >= 3 %>"></div>
        <div class="star <%= 'filled' if review.rating >= 4 %>"></div>
        <div class="star <%= 'filled' if review.rating >= 5 %>"></div>
      </div>
      <div>
        <%= link_to "Delete",
          review_path(review),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
    <% end %>
  <% end %>
</ul>
<br>

<div class="m-4">
  <h2>Add a Review</h2>
  <%= simple_form_for [@listing, @review] do |form| %>
    <%= form.input :content %>
    <%= form.input :rating, collection: [0, 1, 2, 3, 4, 5], label: "Select Rating" %>
    <%= form.submit 'Submit', class: 'btn border' %>
  <% end %>
</div>


      <%= link_to "My Bookings", listing_bookings_path(@booking), class:"sub-heading" %>
  </div>

  <% else %>

    <%= render 'shared/log_in_prompt' %>

  <% end %>
