<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dcy2dfahw/image/upload/v1695299259/anastase-maragos-FP7cfYPPUKM-unsplash_j4vco8.jpg); background-position: center bottom;">
  <div class="homepage-heading">
    <h1 class="homepage-heading">My Profile</h1>
  </div>

</div>
<div class="profile-container">
  <div>
    <% if user_signed_in? %>
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo.key, class:"profile-photo" %>
      <% else %>
      <div >
        <%= image_tag "https://res.cloudinary.com/dcy2dfahw/image/upload/v1695044898/dumbbell_l3d5ls.png", class:"profile-photo" %>
      </div>
      <% end %>
  </div>
  <div class="listing-show-container">
      <div>
        <h1 class="profile-heading" ><%= @user.fullname %></h1>
      </div>
      <h2><em><%= @user.username %></em></h2>
      <p class="profile-paragraph">Gender: <%= @user.gender %></p>
      <p class="profile-paragraph">Age: <%= @user.age %></p>
      <p class="profile-paragraph">Goal: <%= @user.goal %></p>
      <p class="profile-paragraph">Fitness Level: <%= @user.fitness_level %></p>
      <p class="profile-paragraph">Height: <%= @user.height %></p>
      <p class="profile-paragraph">Weight: <%= @user.weight %></p>
      <h3 class="profile-paragraph"><%= @user.phone_number %></h3>

      <h3 class="profile-paragraph"><%= @user.email %></h3>
      </div>
    </div>

      <div class="profile-links">

      <%= link_to "Certifications", certifications_path, class: "btn btn-outline-light" %>
        <% if current_user == @user %>
      <%= link_to "My Training Calendar", calendar_path, class: "btn btn-outline-light" %>

      <%= link_to "Add New Listing", new_listing_path, class: "btn btn-outline-light" %>

      <%= link_to "My Bookings", listing_bookings_path(current_user.listings), class: "btn btn-outline-light" %>
        <%= link_to edit_user_registration_path, class: "btn btn-outline-light" do %>
          Update Details
        <% end %>
        <% end %>
      </div>
      </div>
    <% else %>
      <div>
        <%= render 'shared/log_in_prompt' %>
      </div>
    <% end %>

</div>
