<div class="homepage-container">
  <h1 class="homepage-heading">FlexBook</h1>
  <p>Your number one fitness service provider</p>

  <div class="listings-row">
    <% @listings.each do |listing| %>
          <% user = User.find(listing.user_id) %>
        <%= @fullname = user.fullname.titleize %>
      <div class="listing">
        <%= link_to listing_path(listing) do %>
          <strong><%= listing.category %></strong>
        <% end %>
        <%= listing.location %>
        <%= listing.details %>
      </div>
    <% end %>
  </div>

</div>
