<div class="profile-container">
  <div class="profile-photo">
    <% if current_user.photo.present? %>
      <%= cl_image_tag current_user.photo.key, class: "profile-image" %>
    <% else %>
      <%= image_tag "https://www.nicepng.com/png/full/115-1150821_default-avatar-comments-sign-in-icon-png.png", class: "profile-image" %>
    <% end %>
  </div>
  <h2><strong><%= current_user.fullname %></strong></h2>
  <h2>"<%= current_user.username %>"</h2>
  <p>Gender: <%= current_user.gender %></p>
  <p>Age: <%= current_user.age %></p>

  <% if current_user.trainer? %>
    <h3><%= current_user.phone_number %></h3>
    <h3><%= current_user.email %></h3>
    <%= link_to "Certifications", certifications_path, class: "btn btn-outline-dark" %>
    <%= link_to "My Training Calendar", calendar_path, class: "btn btn-outline-dark"%>
    <%= link_to "Add New Listing", new_listing_path, class: "btn btn-outline-dark"%>

    <div data-controller="toggle" class="mt-5">
      <%= link_to edit_user_registration_path, class: "btn btn-outline-danger" do %>
        Update Details
      <% end %>
    </div>

  <% else %>
    <p>Goal: <%= current_user.goal %></p>
    <p>Fitness Level: <%= current_user.fitness_level %></p>
    <p>Height: <%= current_user.height %></p>
    <p>Weight: <%= current_user.weight %></p>

    <div data-controller="toggle" class="mt-5">
      <%= link_to edit_user_registration_path, class: "btn btn-outline-danger" do %>
        Update Details
      <% end %>
    </div>
  <% end %>
</div>
