<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dcy2dfahw/image/upload/v1695299259/anastase-maragos-FP7cfYPPUKM-unsplash_j4vco8.jpg); background-position: center bottom;">
</div>
<div class="profile-container">
  <div>
    <% if user_signed_in? %>
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo.key %>
      <% else %>
      <div >
        <%= image_tag "https://res.cloudinary.com/dcy2dfahw/image/upload/v1695044898/dumbbell_l3d5ls.png", class:"profile-photo" %>
      </div>
      <% end %>
  </div>

      <div>
        <h1 class="sub-heading" ><%= current_user.fullname %></h1>
      </div>
      <h2>"<%= current_user.username %>"</h2>
      <p>Gender: <%= current_user.gender %></p>
      <p>Age: <%= current_user.age %></p>
      <p>Goal: <%= current_user.goal %></p>
      <p>Fitness Level: <%= current_user.fitness_level %></p>
      <p>Height: <%= current_user.height %></p>
      <p>Weight: <%= current_user.weight %></p>
      <h3><%= current_user.phone_number %></h3>

      <h3 class="sub-heading"><%= current_user.email %></h3>
      <div class="m-2">
      <%= link_to "Certifications", certifications_path, class: "btn btn-outline-light" %>

      <%= link_to "My Training Calendar", calendar_path, class: "btn btn-outline-light" %>

      <h3><%= current_user.email %></h3>
      <%= link_to "Certifications", certifications_path %>
      <%= link_to "My Training Calendar", calendar_path %>
      <%= link_to "Add New Listing", new_listing_path %>
      <%= link_to "My Bookings", listing_bookings_path(@listings) %>

      <%= link_to "Add New Listing", new_listing_path, class: "btn btn-outline-light" %>

      <%= link_to "My Bookings", listing_bookings_path(@listing), class: "btn btn-outline-light" %>
      </div>
      <div class="mt-2">
        <%= link_to edit_user_registration_path, class: "btn btn-outline-light" do %>
          Update Details
        <% end %>
      </div>
    <% else %>
      <div>
        <%= render 'shared/log_in_prompt' %>
      </div>
    <% end %>

</div>
